<div class="jumbotron">
  <div class="wrapper">
    <div class="content">
      <br></br>
      <h4><strong>EDIT EVENT</strong></h4>
      <% if flash.has?(:message) %>
        <%= flash[:message] %>
      <% end %>
      <form method="post" action="/events/<%=@event.id%>">
        <input id="hidden" type="hidden" name="_method" value="patch">
        <label>Title:</label>
        <input type="text" name="title" value="<%=@event.title%>"><br />
        <label>Date:</label>
        <input type="date" name="date"><br />
        <label>Location:</label>
        <input type="text" name="location" value="<%=@event.location%>"><br />
        <label>Description:</label><br>
        <textarea name="description" rows=6 cols=60></textarea><br />
        <label>Contact Info:</label>
        <input type="text" name="contact" value="<%=@event.contact%>"><br></br>
        <input type="submit" class="btn btn-default btn-sm" value="Submit">
      </form>
    </div>
  </div>
</div>
