<div class="jumbotron">
  <div class="wrapper">
    <div class="content">
      <br></br>
      <h4><strong><%=@event.title%></strong></h4>
      Taking place on: <p><%=@event.date.strftime("%B %-d, %Y")%> at <%=@event.location%></p>
      Event Description:<p><%=@event.description%></p>
      Contact for more details: <p><%=@event.contact%></p>
    </div>
  </div>
</div>
