<a href="/logout">Logout</a> <a href="/">Home</a> <a href="/events">Your Events</a>
<h4><%=@event.title%></h4>
Taking place on <p><%=@event.datetime%> at <%=@event.location%></p>
<p><%=@event.description%></p>
Contact for more details: <p><%=@event.contact%></p>
