<% @links.each {|key, value| %>
  <a href="<%=value%>"><%=key%></a>
<% } %>
<br></br>
<h4><%=@event.title%></h4>
Taking place on <p><%=@event.date%> at <%=@event.location%></p>
<p><%=@event.description%></p>
Contact for more details: <p><%=@event.contact%></p>
