<% @links.each {|key, value| %>
  <a href="<%=value%>"><%=key%></a>
<% } %>
<br></br>
<% @events.sort{|a,b| a.date <=> b.date}.each {|event| %>
  <a href="/events/<%=event.id%>"><%=event.title%></a>
  <p><%=event.date%><p>
  <br></br>
<% } %>
